@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


svg{
  position: absolute;
}

.wrapper{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color:blue;
}

#container{
  height: 200px;
  width: 200px;
  margin: 150px auto;
  position: relative;
  filter: url(#goo);
}


.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 190px;
    z-index: 999;
    color: white;
}


.drop{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(120%,-800%)
    scaleX(0.5);
    animation: move 6s cubic-bezier(1,.04,.74,.2) infinite;
}


@keyframes move{
  0%{
    transform: translate(120%,-800%) scaleX(0.2);
    height: 60px;
  }
  30%{
    transform: translate(120%,-200%);
    height: 30px;
  }
  70%{
    transform: translate(120%,100%);
    height: 30px;
  }
  100%{
    transform: translate(120%,800%) scaleX(0.2);
    height: 60px;
  }
}




